GITHUB_TOKEN=

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=auto_track
DB_SSL=false

# JWT
JWT_SECRET=
JWT_EXPIRY=7d

# Microservicios
AUTH_SERVICE_HOST=localhost
AUTH_SERVICE_PORT=3001

# RabbitMQ
RABBITMQ_URL=amqp://localhost:5672

# Redis
REDIS_URL=redis://localhost:6379